<link rel="stylesheet" href="style/mainPage.css">
<div class="myNavbar">
  <a href="/" class="active"><img src="" alt="" />facebook</a>
  <form id="form" action="/results" method="get">
    <input id="mySearchInput" type="text" placeholder="Search" name="searchWord" />
    <button id="searchButton">Search</button>
  </form>
  
  <div id="myLinks">
    <a href="/logout">Logout</a>

  </div>
</div>