<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/fun.css">
    <title>Document</title>
</head>
<body>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div id="title">
        <span>
            Codenow
        </span>
        <div class="div">
            <a href="" class="btn">Click Me!</a>
        </div>

    
    </div>
    <button>hellow</button>
</body>
</html>