<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/register.css">
</head>
<body id="grad">
    <h1>Create Account</h1>
    <div class="myContainer">
        <div class="formDiv">
            <form action="" method="post">
                <div class="inputDiv">
                    <label class="myLabel" for="email">Email</label>
                    <input class="myInput" name="email" type="text">
                </div>
                <div class="inputDiv">
                    <label class="myLabel" for="name">Name</label>
                    <input class="myInput" name="name" type="text">
                </div>
                <div class="inputDiv">
                    <label class="myLabel" for="phone">Phone</label>
                    <input class="myInput" name="phone" type="text">
                </div>
                <div class="inputDiv">
                    <label class="myLabel" for="password">Password</label>
                    <input class="myInput" name="password" type="password">
                </div>
                <button class="registerBtn" >Register</button>
            </form>
        </div>
        
    </div>
    
</body>
</html>