@tailwind base;
@tailwind components;
@tailwind utilities;

.main-navbar {
  @apply flex flex-row p-1 items-center bg-zinc-800 text-white border-b border-zinc-700;
}
.right-main-navbar {
  @apply flex flex-row w-1/3 justify-end gap-2;
}
.left-main-navbar {
  @apply flex flex-row justify-start w-1/3 items-center gap-2;
}

.right-navbar {
  @apply rounded-full bg-zinc-700 w-10 h-10 justify-center items-center flex hover:bg-zinc-600 cursor-pointer;
  /* İstediğiniz diğer özel tanımlamaları buraya ekleyebilirsiniz */
}

.logo {
  @apply flex justify-center items-center rounded-full bg-blue-700 w-10 h-10 font-black text-4xl;
}

.mid-navbar {
  @apply hover:bg-neutral-700 py-3 px-10 rounded-md;
}

.mid-navbar-active {
  @apply rounded-none border-b-2 border-blue-600 text-blue-600 hover:bg-inherit;
}

.login-input {
  @apply w-11/12 h-1/6 rounded-md shadow-inner shadow-gray-50 border-2 border-gray-300 pl-2;
}

.full-screen-center {
  @apply flex flex-row justify-center items-center h-dvh w-screen;
}

/* 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
