
.div{
    position: absolute;
    top: 50%;
    left: 50%;
}

button{
    display: flex;
    background-color: #8a2be2;
    width: 10em;
    height: 4em;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 3px 2px rgba(0,0,0, 1);
    border-radius: 1em;
    text-decoration: none;
    color: white;
    transform: translateY(-5px);
}

button:focus{
    transform: translateY(5px);
}
button::after{
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: purple;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

button:hover::after{
    cursor: pointer;
    transform: scale(1);
}



